
Simulation/.idea/inspectionProfiles/profiles_settings.xml
Simulation/.idea/inspectionProfiles/Project_Default.xml
Simulation/.idea/misc.xml
Simulation/.idea/modules.xml
Simulation/.idea/Simulation.iml
Simulation/.idea/vcs.xml
Simulation/.idea/copilot/chatSessions/blobs/version
Simulation/.idea/copilot/chatSessions/00000000000.xd
Simulation/.idea/copilot/chatSessions/xd.lck
Simulation/.idea/workspace.xml
